<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Review!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books/css/index_style.css' %}" media="screen" title="no title">
  </head>
  <body>
    <div id="body">
      {% if messages %}
      <div class="{{messages.0.tags}}">
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div id=header_container>
        <div id = "header">
          <div id="headername"><h4>Welcome, {{request.session.first_name}}!</h4></div>
          <a class="header_content" href="{% url 'books-add' %}"> Add Book and Review</a>
          <a class="header_content" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
      <div id="main">
        <div class="main_content" id="top_books">
          <h4>Recent Book Reviews:</h4>
          <div class="topbooks">
          {% if detailed_review %}
            {% for row in detailed_review %}
              <a href="{% url 'books-show' bookid=row.book.id %}">{{row.book.title}}</a>
              <p>Rating: {{row.rating}}/5</p>
              <p><a href="{% url 'books-users' userid=row.user.id %}">{{row.user.first_name}}</a> says: <span>{{row.review}}</span></p>
              <p><span id="MAKETHISITATLICS">Posted on {{row.updated_at}}</span></p><br>
            {% endfor %}
          {% else %}
            <p>Well shoot, nobody has made a review!</p>
          {% endif %}
          </div>
        </div>
        <div class="main_content" id="otherbooks">
          <h3>Other Books with Reviews:</h3>
          <div id="booklist">
            {% if other_reviews %}
              {% for row in other_reviews %}
                <a href="{% url 'books-show' bookid=row.book.id %}">{{row.book.title}}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
