*{
  margin: 0;
  padding: 0;
}

#header_container{
  display: inline-block;
  width: 1300px;
  background-color: white;
}

.header_content{
  display: inline-block;
}

#header a:first-of-type{
  margin-top: 10px;
  margin-left: 800px;
  margin-right: 10px;
}

#header a:last-of-type{
  margin-left: 10px;
}

#main{
  margin-left: 50px;
  }
  #main li{
    margin-left: 1em;
  }
